.column1 {
      float:left;
      width:25%;
      height:280px;
      width: 33%;
}

.column2 {
      float:left;
      width:50%;
      height:280px;
      width: 33%;
}

.column3 {
      float:right;
      width:25%;
      height:280px;
      width: 33%;
}

h1 {
      text-align: center;
}
