.show-page {
  background-color: white;
  height: 100vh;
}

.upper-div {
  height: 40vh;
  width:  100%;
  padding-top: 1vh;
}

.carousel-container {
  height: 38vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  height: 37vh;
  width: 46vh;
}

#prevBtn {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 5%;
  cursor: pointer;
}

#nextBtn {
  z-index: 10;
  position: absolute;
  top: 50%;
  right: 5%;
  cursor: pointer;
}

.carousel-slide img {
  height: 100%;
  width: 100%
}


.info-booking-div{
  display: flex;
}

.dates-button {
  background-color: white;
  color: black;
  font-size: 10px;
  border: 1px solid black;
  padding: 3px;
  padding-left: 25px; //PLACEHOLDER FOR DATES ICON
  height: 30px;
  align-content: center;
}

.info-div {
  display: flex;
}
.price {
  margin-left: 35vh;
}

.owner-picture-div {
  height: 10vh;
  width: 10vh;
}

.owner-picture-placeholder {
  height: 8.5vh;
  width: 8.5vh;
  border: 1px solid black;
  margin: 0.5vh;
  margin-left: 2vh;
}

.owner-info {
  font-size: 8px;
  padding-top: 4.1vh;
  width: 12vh;
  margin-left: 1.2vh;
  margin-top: 0.5vh;
}

.rent-button {
  border: none;
  background-color: #C4C4C4;
  color: #4F4F4F;
  height: 28px;
  width: 100px;
  align-content: center;
  margin-top: 10px;
}

.renting-div {
  margin-top: 0.5vh;
  margin-left: 1vh;
}

.product-details {
  margin-top: 5vh;
  cursor: pointer;
}

.product-details p {
  margin-left: 3vh;
  font-size: 12px;
  margin-bottom: 0vh;
  margin-top: 3vh;
}

.products-specs {
  display: none;
  font-size: 8px;
}

.line1 {
  height: 1px;
  background-color: black;
  width: 90%;
  margin-left: 5%;
}

.line2 {
  height: 1px;
  background-color: black;
  width: 90%;
  margin-left: 5%;
}

.line3 {
  height: 1px;
  background-color: black;
  width: 90%;
  margin-left: 5%;
}

.icon-container1 {
  margin-left: 8vh;
  margin-top: -2.5vh;
}

.icon-container2 {
  margin-left: 8.5vh;
  margin-top: -2.5vh;
}

.icon-container3 {
  margin-left: 13.5vh;
  margin-top: -2.5vh;
}

.arrow1 {
  transition: all 0.4s linear;
}

.arrow1-up {
  transform: rotate(180deg);
}

.arrow2 {
  transition: all 0.4s linear;
}

.arrow2-up {
  transform: rotate(180deg);
}

.arrow3 {
  transition: all 0.4s linear;
}

.arrow3-up {
  transform: rotate(180deg);
}

