<nav>
  <div class="navbar">
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="burger-links">
      <li>
        <a class="nav-link" href="#">Cameras</a>
      </li>
      <li>
        <a class="nav-link" href="#">Lenses</a>
      </li>
      <li>
        <a class="nav-link" href="#">Drones</a>
      </li>
      <li>
        <a class="nav-link" href="#">Support Equipment</a>
      </li>
    </ul>
  </div>


</nav>


