<div class="wrapper">
  <div class="top-div">
    <div class="card-info-top col-md-12" style="text-align: center;">
        <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
        <p style="color: white;">Email: <%= current_user.email %></p>
    </div>
  </div>
  <div class="right-div">

  </div>
  <div class="bottom-div">

  </div>
</div>
