<div class="banner">
  <h1>Explore possibilities</h1>
  <div class="search"></div>
</div>
<div class="types">
  <div class="type--night type">
    <h1>Night</h1>
  </div>
  <div class="type--sport type">
    <h1>Sport</h1>
  </div>
  <div class="type--architecture type">
    <h1>Architecture</h1>
  </div>
  <div class="type--portrait type">
    <h1>Portrait</h1>
  </div>
  <div class="type--landscape type">
    <h1>Landscape</h1>
  </div>
  <div class="type--videography type">
    <h1>Videography</h1>
  </div>
</div>
