.navbar1 {
  height: 5vh;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar1__burger {
  cursor: pointer;
  padding-left: 1.5vh;
  div {
    width: 3.8vh;
    height: 0.45vh;
    background-color: white;
    margin: 0.76vh;
  }
}

.navbar1__burger-dropdown {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  left: 0vh;
  position: absolute;
  margin-top: 25vh;
  padding-left: 0.76vh;
  justify-content: space-between;
  background-color: black;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  padding-bottom: 0.76vh;
  opacity: 70%;
}

.navbar1__burger-link {
  padding-top: 0.76vh;
  color: white;
  opacity: 0%;
  font-family: 'Poppins', 'sans-serif';
}

.burger-link:hover {
  color: white;
}

.burger-active {
  transform: translateX(0%);
}

@keyframes burgerLinkFade{
  from{
    opacity: 0%;
  }
  to{
    opacity: 90%
  }
}

.navbar--lewagon {
  justify-content: space-between;
  background: black;
  height: 7.61vh;
}

.navbar--lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar--lewagon .navbar-brand img {
  width: 6vh;
}

.navbar-links {
  display: flex;
  list-style: none;
  color: white;
  font-family: 'Poppins', 'sans-serif';
  justify-content: flex-end;
}

.dropdown-menu {
  background-color: black;
  color: white;
  opacity: 70%;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.dropdown-item {
  color: white;
}

.nav-item {
  padding-right: 1.5vh;
}

.content {
  margin-top: 2.13vh;
  width: 35vh;
}

