.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.product__card {
  width: 80%;
  height: 45vw;
  border: solid 1px;
  margin-bottom: 6%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  h1 {
    font-size: 40%;
  }
}

.product__photo {
  width: 100%;
  height: 60%;
  border: solid 2px;
  h1 {
    font-size: 48%;
  }
}

.product__information {
  display: flex;
  justify-content: space-between;
  height: 40%;
  padding: 1%;
}

.product__left {
  p {
    font-size: 60%;
  }
}

.product__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    text-align: right;
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  .product__left {
    p {
      font-size: 1.0em;
    }
  }
  .product__card {
    width: 80%;
    height: 36vw;
    border: solid 1px;
    margin-bottom: 6%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    h1 {
      font-size: 40%;
    }
  }
}

@media only screen and (min-width: $breakpoint-desktop) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .product__card {
    width: 80%;
    height: 30vw;
    border: solid 1px;
    margin-bottom: 6%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    h1 {
      font-size: 40%;
    }
  }
}
