<div class="row1">
  <div class="column1">
    <div class="product-img-div">
      <h1>IMAGE</h1>
      <br>
      <h1><%= @product.name %></h1>
    </div>
    <div class="owner-info-div">
      <h1>Owner Info</h1>
    </div>
    <div class="reviews-div">
      <h1>Reviews</h1>
    </div>
  </div>
  <div class="column2">
    <div class="specs-div">
      <h1>Specs</h1>
    </div>
    <div class="details-div">
      <h1>Details</h1>
    </div>
    <div class="policies-div">
      <h1>Policies</h1>
    </div>
    <div class="recommendation-div">
      <h1>Similar Products</h1>
    </div>
  </div>
  <div class="column3">
    <div class="payment-div">
      <h1>PAYMENT & BOOKING DETAILS</h1>
    </div>
  </div>
</div>
